:root{
    --primary-color:#302b27ad; /*jet*/
    --secondary-color: #233F80; /*Marian Blue */
    --accent1-color: #F5F3F5; /*White smoke*/
    --accent2-color: #8595C1; /*Cool gray*/
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 150px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 20px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
    text-align:center;
}

h2 {
    font-size: 20px;
    text-align:center;
    padding: 20px;
}

.text-gray{
    font-size: 18px;
	font-family: Acme, Arial, sans-serif;
    text-align:center;
    color:rgb(100, 100, 100);
    padding:10px;

}
.text-bold{
    font-size: 20px;
    font-weight: bold;
	font-family: Acme, Arial, sans-serif;
    text-align:center;
    color:rgb(60, 60, 60);
    padding: 10px;

}

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	font-family: Arial, sans-serif;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

body {
	font-family: Acme, Arial, sans-serfi;
}

main, footer {
    width: 840px;
    margin: 0 auto;
}


.socialmedia a{
    text-decoration:none;
}

.hero{
    position: relative;
   
}

.hero article { 
    position: absolute;
    top: 120px;
    width: 100%;
    padding: 20px;
    opacity: 0.7;
    background-color: #233f80;
    color: #ffffff; 
    margin: 20px auto; /* Centra el artículo y le da margen */
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    text-align: left; 
    
}
.hero article img {
    float: right;
    width: 125px;
    box-shadow: inset 5em 1em gold;
    border-radius: 5px;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #ffffff;
}
.grid-container-banner{
    display: grid;
    grid-template-columns: 950px;
    background-color:#c4ccd2;
    
}
.grid-item-banner {
    background-color: #F5F3F5;
    border: 1px solid black;
    padding: 20px;
    font-size: 18px;
    text-align:left;
}

.grid-item-image-banner {
  width: 88%;
  height: 70%;
  object-fit: fill; /* O fill, contain, scale-down, none */
  object-position: center; /* O top, bottom, left, right, etc. */
}    
.grid-container {
    display: grid;
    grid-template-columns: 250px 300px 250px;
    background-color:#a9b8c3;
    padding: 20px;
}
.grid-item {
    background-color: #F5F3F5;
    border: 1px solid black;
    padding: 20px;
    font-size: 18px;
    text-align:left;
}
.grid-item-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* O fill, contain, scale-down, none */
  object-position: center; /* O top, bottom, left, right, etc. */
 
}    

.grid-container-contact {
    display: grid;
    grid-template-columns: 410px 410px;
    background-color:#a9b8c3;
    padding: 10px;
}
.grid-item-contact {
    background-color: #ffffff;
    border: none;
    padding: 20px;
    font-size: 18px;
    text-align:left;
}


.flex-container {
	border: 1px dashed darkcyan;
	background-color: #a9b8c3;
	display: flex;
	
    flex-direction: row;
    justify-content: center;
    align-items: stretch;


}

.flex-item {
	width: 150px; 
	margin: 1rem;
	border: 1px solid rgb(0 0 0 / 20%);
	padding: 0.5rem;
	background-color: #bbb;
	color: #333;
}
.flex-item-form {
	width: 700px; 
	margin: 1rem;
	border: 1px solid rgb(0 0 0 / 20%);
	padding: 10px;
	background-color: #f4f2f2;
	color: #333;
}

.imagen-en-flex-item {
  width: 100%;
  height: 100%;
  object-fit: contain; /* O fill, contain, scale-down, none */
  object-position: center; /* O top, bottom, left, right, etc. */
}

.grid-container-footer {
    display: grid;
    grid-template-columns: 600px auto;
    background-color:#a9b8c3;
    padding: 20px;
}
.grid-item-footer {
    background-color: #F5F3F5;
    border: 1px solid black;
    padding: 20px;
    font-size: 18px;
    text-align:center;
}

  figcaption {
    margin-top: 10px;
    color: #233f80;
    text-align:center;

}

.btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: var(--secondary-color);
  height: 50px;
  
  padding: 0 35px;
  line-height: 50px;
  border-radius: 8px;
  cursor: pointer;
  position: center;
  
}

form {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
}

.form-item {
  display: grid;
  align-items: center;
}



fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}

.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}


.column2 {
  grid-template-columns: 1fr 2fr;
}


label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}

label {
  text-align: right;
  padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: rgb(7, 7, 175);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(235, 162, 28);
}

